---
// Este archivo es `Footer.astro`
---
<footer class="footer">
    <p>Contribuidores de la página: Diego Hermosilla, Rosario Caroca, Trinidad Saez, Sofía Vargas, Carla Vidal</p>
  </footer>
  
  <style>
    .footer {
      background-color: #f1f1f1;
      padding: 1.5rem;
      text-align: center;
      font-size: 0.9rem;
      color: #333;
      border-top: 1px solid #ddd;
    }
  </style>
  