---
// Hero.astro
---
<section class="hero">
    <div class="hero-content">
      <h1>Explora el Humedal de San Pedro de la Paz</h1>
      <p>Descubre la belleza y biodiversidad de este ecosistema único.</p>
    </div>
  </section>
  
  <style>
    .hero {
      background-image: url('/public/humedal-bayona-hero-2.jpg'); /* Cambia la ruta de la imagen */
      background-size: cover;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      text-align: center;
    }
    .hero-content h1 {
      font-size: 3rem;
    }
    .hero-content p {
      font-size: 1.5rem;
    }
  </style>
  